option_settings:
  aws:elasticbeanstalk:xray:
    XRayEnabled: true
  aws:autoscaling:asg:
    # How many EC2 intances do we want running out application?
    MinSize: 1
    MaxSize: 1
  aws:autoscaling:launchconfiguration:
    # What instance size should be used.
    InstanceType: t2.micro
    # Key that will be use for the host 
    EC2KeyName: ppavlov
    # Role that will be atached to the host 
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:ec2:vpc:
    # This should be replaced by your Cornell VPC id.
    VPCId: vpc-4214eb25 # REPLACE
    # For example purposes, deploy both the EC2 instances and the ELB in your private subnets.
    Subnets: "subnet-0255505a,subnet-5ca65f3b,subnet-36758f7f" # REPLACE
    ELBSubnets: "subnet-28515470,subnet-e6a75e81,subnet-a7768cee" # REPLACE
    # This tells EB to create the ELB with only a private address.
    #ELBScheme: internal
    # Don't associate a public addresses with EC2 insances launched
    AssociatePublicIpAddress: true
  aws:elasticbeanstalk:environment:
    # LoadBalanced the application so we can play with multiple instances later.
    EnvironmentType: LoadBalanced
  aws:elasticbeanstalk:command:
    # Deployment Commnads: Roll and deploy 30%
    BatchSize: 30
    BatchSizeType: Percentage
    DeploymentPolicy: Rolling
  aws:elasticbeanstalk:sns:topics:
    Notification Endpoint: aws@domain.com
  aws:elasticbeanstalk:healthreporting:system:
    HealthCheckSuccessThreshold: Ok
    SystemType: enhanced
  aws:elasticbeanstalk:customoption:
    ELBAlarmEmail: "aws@domain.com"
    ELBHealthyHostCount: "1"
    ELBLatency: "0.5"
    ELBHTTP5xxErrors: "0"
    VisibilityTimeout : 30
    AlarmEmail : nobody@amazon.com
